@import url("../abstracts/_utilities.css");

header {
  padding: 2rem 0rem;
}

#brandmark {
  display: flex;
  align-items: center;
}

#brandmark__logo {
  height: 3em;
  padding-right: 1em;
  will-change: filter;
  transition: filter 300ms;
}
#brandmark__logo:hover {
  filter: drop-shadow(0 0 2em var(--color-primary));
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a #logo {
    animation: logo-spin infinite 20s linear;
  }
} */
