/* Colors */
:root {

    /* Colour Palette */
    --clr-primary: gold;
    --clr-secondary: #E3DF47;
    --clr-black: #1a1a1a;
    --clr-white: #fafafa;
    --clr-text: #B8D3D4;

    /* Font Family */
    --ff-regular: "FS SInclair", Courier, monospace;
    --ff-heading: "FS Sinclair", Courier, monospace;
    --ff-subheading: "FS SInclair", Courier, monospace;

    /* Font Size */
    --fs-regular: 1.2rem;
    --fs-heading: 2rem;
    --fs-subheading: 1.7rem;

    /* Font Weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Spacer */
    --spacer-300: 0.5rem;
    --spacer-400: 1rem;
    --spacer-500: 2rem;
  }
  