:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b1b1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
}

h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-subheading);
  font-weight: var(--fw-semibold);
  color: var(--clr-white);
}

p, ol, a {
  font-family: var(--ff-heading);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  text-decoration: none;
  color: var(--clr-white);
}

  a:hover {
    color: var(--clr-secondary);
  }

h1, p {
  margin-bottom: var(--spacer-400);
}

  #brandmark_text {
    margin-bottom: 0;
  }